/*new css styles*/
.api_logo {
  width:21.9px;
  height:20px;
}

.row {
  padding:10px 20%;
  text-align:left;
  display :flex;
}

.logo-section {
  width:40px;
  height :40px;
  flex:1;
}

.text_section {
  flex:15;
}


.text_section {
  font-size:14px;
  cursor:pointer;
}

.text_section:hover {
  text-decoration:underline;
}

.row a {
  text-decoration: none;
  color:black;
}

.search_form_section {
  display: flex;
}

.logo {
  flex:2;
  padding:10px;
}

.interaction_section {
  flex:8;
}

.fields {
  display: flex;
}

.fields input {
  flex:8;
}

.fields button {
  flex:2;
  margin-left:20px;
}

.search_form_section > *{
  margin : calc(1%);
}

.search_form_section input {
  padding :10px 15px 10px 50px;
  border-radius :5px;
  border :1px solid lightgrey;
  width:600px;
  font-size:15px;
}

.search_form_section button {
  width:100px;
  border: 1px solid #009DE0;
  color:#fff;
  border-radius:5px;
  background-color:#009DE0;
  cursor:pointer;
  font-size:15px;
}

.search_form_section span{
  width: calc((100% - 2%) / 3);
  height:10px;
  display:inline-block;
  margin :0;
}

.search_form_section span:nth-child(1) {
  background-color :#DEDE3B;
}

.search_form_section span:nth-child(2) {
  background-color :#74AC1B;
}

.search_form_section span:nth-child(3) {
  background-color :#009DE0;
}

.search_results {
  height: calc(100vh - 110px);
  overflow-y: scroll;
}
.search_fld {
 background: url(search_icon.svg) no-repeat top left;
    background-size: 40px 40px;
}

.search_fld:focus {
  outline :none;
  box-shadow:2px 2px lightgrey;
}

button:focus{  
  outline :none;
  box-shadow: 0 0 0 1pt #808080;
  border:1px solid #808080;
}

button:disabled,
button[disabled]{
  background-color: #d8d8d8;
}

.autoSuggest {
  border-style:solid ;
  border-color:lightgrey;
  background-color:#fff;
  border-radius:5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  top: 63px;
  border-width:1px;
  z-index:3;
  box-shadow: 1px 3px 9px 3px lightgrey;
}

.autoSuggest div {
  padding: 5px  8px;
  text-align: left;
} 

.autoSuggest div:hover {
  cursor:pointer;
  text-decoration: underline;
  background-color:#7fbf7f;
  color:#fff;
}